<div class="row">
  <div class="card col">
    <h1 class="card-title">Lease Details</h1>
    <div class="card-body">
      <p><b>Address:</b></p>
      <p> <%= @lease.address_line_1 %> </p>
      <p> <%= @lease.address_line_2 %> </p>
      <p> <%= @lease.city %>, <%= @lease.state %> </p>
      <p> <%= @lease.zip %> </p>
      <p><b>Rent:</b></p>
      <p> <%= @lease.amount %> </p>
      <p><b>Start Date:</b></p>
      <p> <%= @lease.starts_at %> </p>
      <p><b>End Date:</b></p>
      <p> <%= @lease.ends_at %> </p>
    </div>
    <% if current_user.tenant? && !current_user.find_acceptance_by_lease(@lease).accepted %>
      <%= form_tag lease_accept_lease_path(@lease), method: :put do %>
        <%= submit_tag 'Accept Lease', class: 'btn btn-success' %>
      <% end %>
    <% elsif current_user.tenant? && current_user.find_acceptance_by_lease(l).accepted %>
      <b>Lease Accepted</b>
    <% end %>
  </div>

  <div class="card col">
    <h1 class="card-title">Managers</h1>
    <div class="card-body">
      <% @lease.managers.each do |m| %>
        <p> <%= m.name %> <%= m.email %> </p>
      <% end %>

      <% if current_user.owner? %>
        <p><b>Add by Email:</b></p>
        <%= form_tag lease_path, method: :put do %>
          <%= text_field_tag :manager_email %>
          <%= submit_tag 'Add Manager to Lease', class: 'btn btn-success' %>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="card col">
    <h1 class="card-title">Tenants</h1>
    <div class="card-body">
      <% @lease.tenants.each do |t| %>
        <p> <%= t.name %> <%= t.email %> </p>
      <% end %>
      <% if current_user.owner? %>
        <p><b>Add by Email:</b></p>
        <%= form_tag lease_path, method: :put do %>
          <%= text_field_tag :tenant_email %>
          <%= submit_tag 'Add Tenant to Lease' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @lease.invited_users.count > 0 %>
    <div class="card col">
      <h1 class="card-title">Invited users with no account</h1>
      <div class="card-body">
        <% @lease.invited_users.each do |u| %>
          <p> <%= u.role %> <%= u.email %> </p>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
